<div class="container h-100 mt-12">  <!-- This div and the one below will do center the card -->
  <div class="row h-100 justify-content-center align-items-center">
    <div class="card w-50 shadow mb-5 bg-body rounded">
      <div class="card-header text-center">
        <h2>Restaurante</h2>
      </div>
      <div class="card-body text-center">

      <%= form_with(model: restaurante) do |form| %>
        <% if restaurante.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(restaurante.errors.count, "error") %> prohibited this restaurante from being saved:</h2>

            <ul>
              <% restaurante.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group row mb-3">        
          <%= form.label :name, "Nombre", class: 'col-sm-4 col-form-label' %>
          <%= form.text_field :name, class: "col-sm-8" %>    
        </div>
        <!-- <div class="form-group row mb-3">        
          <%= form.label :address_1, "Dirección 1", class: 'col-sm-3 col-form-label' %>
          <%= form.text_field :address_1 , class: "col-sm-9" %>    
        </div>
         <div class="form-group row mb-3">        
          <%= form.label :address_2, "Dirección 2", class: 'col-sm-3 col-form-label' %>
          <%= form.text_field :address_2 , class: "col-sm-9" %>    
        </div>
        <div class="form-group row mb-3">        
          <%= form.label :post_code, "Codigo Postal", class: 'col-sm-3 col-form-label' %>
          <%= form.text_field :post_code , class: "col-sm-9" %>    
        </div> 
        <div class="form-group row mb-3">        
          <%= form.label :email, class: 'col-sm-3 col-form-label' %>
          <%= form.text_field :email, class: "col-sm-9" %>    
        </div>
        <div class="form-group row mb-3">        
          <%= form.label :telephone, "Teléfono", class: 'col-sm-3 col-form-label' %>
          <%= form.text_field :telephone, class: "col-sm-9" %>    
        </div>          
        <div class="form-group row mb-3">        
          <%= form.label :mobile, class: 'col-sm-3 col-form-label' %>
          <%= form.text_field :mobile, class: "col-sm-9" %>    
        </div>
        <div>
        <div class="form-group row mb-3">        
          <%= form.label :city, "Ciudad", class: 'col-sm-3 col-form-label' %>
          <%= form.text_field :city , class: "col-sm-9" %>    
        </div>    
        <div class="form-group row mb-3">        
          <%= form.label :country, "País", class: 'col-sm-3 col-form-label' %>
          <%= form.text_field :country, class: "col-sm-9" %>    
        </div>  
        <div class="form-group row mb-3">        
          <%= form.label :VAT, "VAT", class: 'col-sm-3 col-form-label' %>
          <%= form.text_field :VAT, class: "col-sm-9" %>    
        </div>
        <div class="form-group row mb-3">        
          <%= form.label :NIT, "NIT", class: 'col-sm-3 col-form-label' %>
          <%= form.text_field :NIT, class: "col-sm-9" %>    
        </div>          --> 
                                   
        <% if action_name == 'edit' %>
          <%= form.submit 'Update Restaurante', class: 'btn btn-login mt-3 mb-5' %>
        <% else %>
          <%= form.submit 'Crear Restaurante', class: 'btn btn-login mt-3 mb-5' %>
        <% end %>
        
              
      <% end %>
      </div> 
      <div class="card-footer text-center pb-2"><br/><br/></div>
    </div>
  </div>
</div>