<div id="<%= dom_id menu %>">
  <p>
    <strong>Restautante:</strong>
    <%= menu.restautante_id %>
  </p>

  <p>
    <strong>Week day:</strong>
    <%= menu.week_day %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= menu.product_id %>
  </p>

  <p>
    <strong>Menu type:</strong>
    <%= menu.menu_type %>
  </p>

</div>
