<div id="<%= dom_id order %>">
  <p>
    <strong>Total:</strong>
    <%= order.total %>
  </p>

  <p>
    <strong>Restaurante:</strong>
    <%= order.restaurante_id %>
  </p>

  <p>
    <strong>Table:</strong>
    <%= order.table_id %>
  </p>

  <p>
    <strong>Order status:</strong>
    <%= order.order_status %>
  </p>

</div>
