<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Qty-measurement:</strong>
    <%= product.qty-measurement %>
  </p>

  <p>
    <strong>Unit measurement:</strong>
    <%= product.unit_measurement %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Buying cost pck:</strong>
    <%= product.buying_cost_pck %>
  </p>

  <p>
    <strong>Buying cost unit:</strong>
    <%= product.buying_cost_unit %>
  </p>

  <p>
    <strong>Selling cost pck:</strong>
    <%= product.selling_cost_pck %>
  </p>

  <p>
    <strong>Selling cost unit:</strong>
    <%= product.selling_cost_unit %>
  </p>

  <p>
    <strong>Production cost:</strong>
    <%= product.production_cost %>
  </p>

  <p>
    <strong>Qty to stock:</strong>
    <%= product.qty_to_stock %>
  </p>

  <p>
    <strong>Qty in stock:</strong>
    <%= product.qty_in_stock %>
  </p>

  <p>
    <strong>Current stock value:</strong>
    <%= product.current_stock_value %>
  </p>

  <p>
    <strong>Decimal{10-0}:</strong>
    <%= product.decimal{10-0} %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= product.created_by %>
  </p>

  <p>
    <strong>Restaurante:</strong>
    <%= product.restaurante_id %>
  </p>

</div>
