<div id="<%= dom_id line_item %>">
  <p>
    <strong>Qty:</strong>
    <%= line_item.qty %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= line_item.total %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= line_item.order_id_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= line_item.product_id_id %>
  </p>

  <p>
    <strong>Item status:</strong>
    <%= line_item.item_status %>
  </p>

</div>
