<div class="container h-100 mt-12">  <!-- This div and the one below will do center the card -->
  <div class="row h-100 justify-content-center align-items-center">
    <div class="card w-50 shadow mb-5 bg-body rounded">
      <div class="card-header text-center pb-1">
        <h3>Add a New Member</h3>
      </div>
      <div class="card-body text-center mt-3 mb-4">
         <div  class="row g-3 align-items-center">
          <%= form_with url: invite_restaurante_members_path  do |form| %>
          <div  class="row g-3">
            <div class="col-auto">
              <%= form.text_field :email, placeholder: 'Email'%>
            </div>
            <div class="col-auto">
              <%= form.select :rte_role, Member.rte_roles %>
            </div>
            <div class="col-auto">
              <%= form.submit 'Invite', class: "btn btn-login"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="container h-100 mt-12">  <!-- This div and the one below will do center the card -->
    <div class="row h-100 justify-content-center align-items-center">
      <div class="card w-50 shadow mb-5 bg-body rounded">
        <div class="card-header text-center pb-3">
          <h3>Members</h3>
          <br/>
          <div class='pb-3'>
            <%= link_to "Show Restaurante", restaurante_path(@current_restaurante) %>
          </div>
        </div>
        <table class="table table-hover">
          <div id="restaurantes">
            <thead class="thead-dark">
              <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Role</th>
                <th>Accepted</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <% @members.each do |member| %>
                <tr>
                  <td> <%= member.user.name %></td>
                  <td> <%= member.user.email %></td>
                  <td> <%= member.rte_role.capitalize %></td>
                  <td> <%= member.user.invitation_accepted? %></td>
                  <td> <%#= member.rte_role %></td>
                  <td> </td>
                </tr>
              <% end %>
            </tbody>
          </div>
        </table>
      </div>
    </div>
  </div>
